
body {
    background-color: lightgray;
}

/* Navbar CSS */
.myName {
    border: 2px solid gray;
    background-color: cadetblue;
    color: #ffff;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-right: 0px;
}

.navHeader {
    border: 2px solid gray;
    background-color: #ffff;
    color: darkgray;
    text-align: center;
    padding: 0px;
    padding-top: 7px;
}

a {
    font-weight: bold;
    color: gray;
}
/* Navbar CSS End */

/* About Me CSS start */
.aboutMeHeader {
    background-color: cadetblue;
    color: #ffff;
    border: 2px solid gray;
}

.me {
    width: 200px;
    margin: 3px;
    padding: 3px;
    border: 2px solid gray;
    margin-top: 17px;
}

.aboutPar {
    padding-left: 210px;
    padding-top: 20px;
}
/* About Me CSS End */

/* Portfolio CSS start */
.mainStyling {
    border: 2px solid gray;
    background-color: #ffff;
    height: auto;
    min-height: 420px;
    margin: 0px;
    padding: 0px;
}

.portfolioPic {
    height: 200px;
    width: 400px;
    background-color: gray;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
}

.formBuffer {
    margin-right: 40px;
    margin-left: 40px;
}

.descriptionField {
    height: 200px;
}

.projectTitle {
    text-align: center;
    display: block;
    margin: 0px;
    font-weight: bold;
    color: gray;
}
/* Portfolio CSS End */

/* Contact CSS Start */
.inputHeader {
    background-color: cadetblue;
    color: #ffff;
    border: 2px solid gray;
}
form {
    padding-top: 20px;
}
/* Contact CSS End */


.footer {
    background-color: cadetblue;
    color: #ffff;
    border:2px solid gray;
}


