body {
    margin: 0px;
}
.container-fluid {
    background-color: lightgray;
    border: 1px solid gray;
    height: 850px;
    margin-bottom: 0px;
    padding: 0px;
}


/* Header Css Start */

.navbar {
    background-color: #ffff;
    border: 1px solid gray;
    height: 75px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

h2 {
    background-color: cadetblue;
    color: #ffff;
    height: 73px;
    margin-left: 65px;
    margin-bottom: 0px;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
}   

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    float: right;
    color: gray;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 0;
    border-right: 1px solid lightgray;
}

a:link, a:hover {
    color: lightgray;
}

/* Header CSS End */

/* About Me Css Starts */

.aboutMe {      
    height:600px;
    width: 550px;
    background-color: #ffff;
    margin: 50px;
    padding: 20px;
    border-bottom: 1px black;
}

h3 {
    color: cadetblue;
    margin-left: 10px;
    margin-top: 20;
    padding: 20px;
    border-bottom:2px solid lightgray;
}

.col img{
    height: 150px;
    width: 150px;
    margin: 10px;
    
}

.meDiv {
    float: right;
}

p {
    padding: 10px;
}

/* About Me CSS End */

/* Portfolio CSS Start */

.portfolio1 {
    height: 600px;
    width: 550px;
    background-color: #ffff;
    margin: 50px;
    padding: 20px;
    border-bottom: 1px black;
}

img {
    border: 1px solid gray;
    padding: 0px;
    margin: 20px;
    width: 200px;
    height: 125px
}

.animationBox{
    position: relative;
}

.overlay {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 35px;
    right: 0;
    height: 125px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color: cadetblue;
}

.animationBox:hover .overlay{
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* Portfolio CSS End */

/* Contact CSS start */

form {
    padding-left: 10px;
    padding-top: 20px;
    color: gray;
}

input[type=text], select, textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact {
    height:650px;
    width: 550px;
    background-color: #ffff;
    margin: 50px;
    padding: 20px;
    border-bottom: 1px black;
}

/* Contact CSS End */

footer {
    background-color: gray;
    height: 50px;
    border-top: 6px solid cadetblue;
}










